/* Place your CSS styless in this file */

body {background-color: green;
border: 10px solid chocolate;
border-bottom: 20px;
}

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;

}

ul {list-style-type: none;}
li {display: inline;
    text-align: left;

}

